body {
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #ffffff;
  background: rgb(25, 35, 68);
  background: linear-gradient(
    270deg,
    rgb(112 116 129 / 97%) 25%,
    rgb(151 151 153) 55%,
    rgba(255, 255, 255, 1) 100%
  );
}

.ring {
  display: flex;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 37px;
  opacity: 1;
  background: #1a1818;
  border: 2px solid #9d9797;
  transform: rotate3d(2, 2, -1, 65deg);
  animation: hideshow 4s linear, up 5s 3s linear;
  z-index: 10;
}

#ring1 {
  top: 22px;
  right: 144px;
}

#ring2 {
  top: 27px;
  right: 115px;
}

#ring3 {
  top: 50px;
  right: 111px;
}

.optical {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: black;
  box-shadow: 2px 2px 2px #6a6d6a;
  box-sizing: border-box;
}

.optical::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 8px;
  border-radius: 50%;
  width: 32%;
  height: 32%;
  border: 1.5px solid #615e5e;
  background: #334259;
  box-shadow: 2px 0px 2px #736b6b;
}

.phone {
  width: 230px;
  height: 230px;
  position: absolute;
  right: 0;
  bottom: -44px;
  transform: rotate(-25deg);
  animation: move 3s linear;
}

.light {
  position: absolute;
  width: 11px;
  height: 15px;
  background: #e5e2c1;
  border: 1px solid gray;
  right: 145px;
  border-radius: 50%;
  z-index: 3;
  top: 52px;
  transform: rotate3d(2, 2, -1, 74deg);
  box-shadow: "none";
  animation: hideshow 4s linear, light 1s 6s infinite;
}

@keyframes hideshow {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    top: var(--start);
  }
  100% {
    top: var(--end);
  }
}

@keyframes light {
  0% {
    background: #ffffff;
    border: "none";
    box-shadow: 1px 7px 15px white;
  }
  100% {
    background: #e5e2c1;
  }
}

@keyframes move {
  0% {
    right: -250px;
  }
  100% {
    right: 0px;
  }
}
